- @nav_group = 'Manual'
- page_name = pretty_name current_page.url
- @title = "#{page_name} - Aegisub Manual"
- helpers do
  - def overview_link_to page
    - link_to page, "/docs/api/0.1/overview/#{page.downcase.gsub(' ', '_')}/"
- _, toc = Kramdown::Parser::TocReader.parse(template_data_for_file(current_page.source_file), {})
- wrap_layout :layout do
  .fluid-row
    .span3
      %ul#manual-sidebar
        - current_url = current_page.url
        %li.nav-header Overview
        %li= overview_link_to 'Introduction'
        %li= overview_link_to 'Simple Macros'
        %li= overview_link_to 'Subtitle Formats'
        %li= overview_link_to 'Advanced Scripting'

        %li.nav-header Modules
        - pages_matching('docs/api/0.1/modules/').each do |page|
          %li{class: page[:pretty] == current_url ? 'active' : nil}
            = link_to "aegisub.#{page[:pretty].downcase}", page[:raw]

        %li.divider
        %li.nav-header Data Types
        - toc[:types].each do |type|
          %li= link_to type, "##{type.downcase}"
        %li.nav-header Functions
        - toc[:functions].each do |func|
          %li= link_to func, "##{func.downcase}"

    .span9
      = yield

