- active_version = current_resource.path.gsub /www\/changelog\/(\d.\d.\d).html/, '\1'
- @title = "Aegisub #{active_version} Changelog"
= wrap_layout :layout do
  .fluid-row
    .span2{style: "padding-top: 20px; position: fixed"}
      %ul.nav.nav-list.well
        - prev_header = ''
        - sitemap.resources.select{ |p| p.path.include? 'changelog'}.map{ |p| p.path.gsub /www\/changelog\/(\d.\d.\d).html/, '\1'}.reverse.each do |version|
          - header = version[0,3]
          - if header != prev_header
            - unless prev_header.empty?
              %li.divider
            %li.nav-header= header
            - prev_header = header
          %li{class: version == active_version ? 'active' : nil}
            = link_to version, "/www/changelog/#{version}.html"
    .span10.offset2.changelog
      %h1.page-header= @title
      = yield
