<!DOCTYPE html>
%html
  %head
    %meta{charset: 'utf-8'}
    %title= @title || current_page.data.title || 'Aegisub Advanced Subtitle Editor'
    %meta{name: 'Keywords', content: 'Aegisub, Subtitles, VSFilter, Medusa, Sabbu, '}
    %meta{name: 'Author', content: 'http://www.aegisub.org/'}
    %meta{name: 'Copyright', content: 'Copyright (C) 2012 Aegisub Project.'}
    = favicon_tag 'favicon.ico'
    = stylesheet_link_tag 'bootstrap.min'
    :css
      body {
        padding-top: 60px;
      }
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{href: '/', style: 'padding: 3px 10px'}
            = image_tag 'logo-top-bar.png', alt: 'Aegisub'
          %ul.nav
            - data.top_bar.nav_items.each do |item|
              %li{class: item.name == current_page.data.nav_group ? 'active' : nil}
                %a{href: item.url}= item.name

    = yield

    %footer.footer.span12.pagination-centered
      %p
        Hosting kindly provided by
        %a{href: 'http://www.networkredux.com'} NetworkRedux

    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'bootstrap.min'

