<!DOCTYPE html>
%html
  %head
    %meta{charset: 'utf-8'}
    %title= @title || current_page.data.title || 'Aegisub Advanced Subtitle Editor'
    %meta{name: 'Keywords', content: 'Aegisub, Subtitles, VSFilter, Medusa, Sabbu, '}
    %meta{name: 'Author', content: 'http://www.aegisub.org/'}
    %meta{name: 'Copyright', content: 'Copyright (C) 2012 Aegisub Project.'}
    = favicon_tag 'favicon.ico'
    = stylesheet_link_tag 'style'
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to '/www/index.html', class: 'brand', style: 'padding: 3px 10px' do
            = image_tag 'logo-top-bar.png', alt: 'Aegisub'
          %ul.nav
            - data.top_bar.nav_items.each do |item|
              %li{class: item.name == current_page.data.nav_group ? 'active' : nil}
                = link_to item.name, item.url
          %ul.nav.pull-right
            %li
              %a{href: 'http://flattr.com/thing/922938/Aegisub-Advanced-Subtitle-Editor', target: '_blank'}
                %img{src: 'http://api.flattr.com/button/flattr-badge-large.png', alt: 'Flattr this', title: 'Flattr this'}

    = yield

    %footer.footer.span12.pagination-centered
      %p
        Hosting kindly provided by
        %a{href: 'http://www.networkredux.com'} NetworkRedux

