- @title = "Aegisub Manual"
- wrap_layout :layout do
  .fluid-row
    .span3{:style => "padding-top: 20px"}
      %ul.nav.nav-list.well
        - data.manual_sidebar.each do |group|
          %li.nav-header= group.name
          - group[:entries].each do |page|
            %li= link_to page[:name], "/docs/3.0/#{page[:url]}/"
    .span9
      %h1.page-header= @title
      = yield
