%dl.dl-horizontal
  %dt General
  %dd
    %p Allow framerate transform to/from variable without external timecodes loaded (#{ticket 1530})
    %p Honor the configured limits for the find/replace history (#{ticket 1528})
    %p Fix occassional non-error dialog when running multiple copies of Aegisub

  %dt Karaoke
  %dd
    %p Fix bug that sometimes resulted in later karaoke syllables moving when early ones were modified
    %p Truncate overly long syllables rather than adjusting all of the other syllables to make them fit
    %p Play right-clicked syllables
    %p Fix splitting lines by karaoke (#{ticket 1541})

  %dt Linux
  %dd
    %p Remove dependency on glu
    %p Honor docdir and localedir configuration variables

  %dt OS X
  %dd
    %p The Fonts Collector actually works
    %p Add support for 32-bit processors

  %dt Styling Assistant
  %dd
    %p Make it possible to type style names again

  %dt Subs edit box
  %dd
    %p Break undo grouping after 30 seconds of inactivity rather than 10
    %p Switch the Duration field back to time mode when video is closed
    %p Save a single wav containing all selected lines rather than a separate wav for each line with "Create audio clip"
    %p Make pasting lines not horrible slow (#{ticket 1534})

  %dt Subtitles Grid
  %dd
    %p Make the correct row visible when selecting rows with shift + arrow keys in the grid (#{ticket 1533})

  %dt Translations
  %dd
    %p Fix a few errors in the German translation (#{ticket 1523})
    %p Update Czech translation
    %p Update Indonesian translation
    %p Update Hungarian translation
    %p Add partial Arabic translation (#{ticket 1532})
