%dl.dl-horizontal
  %dt Audio and Timing
  %dd
    %p Audio caching is now done in the background rather than popping up a modal progress dialog (#{ticket 112})
    %p The audio display is automatically scrolled to the active line when audio is first opened (if that option is enabled)
    %p Drag all selected lines when Alt is held down when dragging in the audio display (#{ticket 691})

  %dt Automation
  %dd
    %p Automation now uses <a href="http://luajit.org/extensions.html">LuaJIT in Lua 5.2 mode</a> rather than Lua 5.1
    %p Text controls are "infinite" length rather than limited to 30k bytes
    %p subs.delete can be passed a table of row numbers to delete
    %p Add the luabins and lfs libraries to the automation environment
    %p Filter out redundant progress updates so that they don't make everything incredibly slow
    %p Add support for submenus in the automation menu (insert / in the macro name) (#{ticket 852})
    %p Add unicode case conversion functions to the automation module (unicode.to_upper_case, unicode.to_lower_case, unicode.to_fold_case)
    %p Only process selected lines in the Select Overlaps macro if more than one line is selected (#{ticket 1751})
    %p Add aegisub.project_properties() to get a table with stuff that used to be in the script info section of the file (but unlike the old script info entries, it's actually always up to date) (#{ticket 1747})
    %p Fix loading automation scripts when Aegisub is installed to a path with non-ascii characters in it (#{ticket 1760})
    %p Lua functions which take a path have been patched to support UTF-8 on Windows

  %dt Fonts Collector
  %dd
    %p Add a warning when a script using a bold or italic variant of a font that doesn't actually exist, as emboldening done by the renderer may not match what is seen in Aegisub

  %dt Internationalization
  %dd
    %p Make the installer translatable and use the language selected in the installer for Aegisub's UI language
    %p Fix locale issues that could lead to find/replace stripping all non-ascii characters from a file (#{1587})
    %p Use localized names for languages everywhere they're displayed rather than the English names
    %p Fix a bunch of issues with RTL locales on Windows (but unfortunately there's still some major ones remaining) (#{ticket 1354})

  %dt OS X
  %dd
    %p Improve HiDPI support
    %p Add support for IMEs in the main edit box (#{ticket 1247}, #{ticket 1672}, #{ticket 1695})
    %p Fix crash when pasting emoji into the edit box
    %p Use the OS spellchecker service rather than Hunspell.

  %dt Performance
  %dd
    %p Make fontconfig indexing about four times as fast
    %p Significantly speed up passing subtitles to the subtitle renderer (as much as 10x faster), making the video display less laggy with large files
    %p Speed up indexing Matroska files
    %p Significantly speed up reading subtitles from Matroska files
    %p Cut idle CPU usage when Aegisub is in the background by about 90%
    %p Cut down the disk space used a bit

  %dt Resolution Resampler
  %dd
    %p Resample \be and \blur tags
    %p Add support for converting between YCbCr matricies
    %p Make the handling for AR-changing resampling a bit smarter
    %p Use prettier string formatting for resampled numbers
    %p Fix resampling drawings with AR changes

  %dt Stuff
  %dd
    %p List the files which will be opened or closed in the Load/Unload files dialog
    %p Support loading keyframes and timecodes files via drag-and-drop (#{ticket 1749})

  %dt Subtitle editing
  %dd
    %p The edit box buttons (bold, italic, colors, etc.) try to do the right thing when multiple lines are selected, rather than just setting all of the lines to the active line's text
    %p The subtitles grid has gained as Characters Per Second column, with customizable warning and error thresholds (#{ticket 609})
    %p Undo now restores the selected lines and cursor position that were active when the change being undone occured
    %p Double-clicking on a word which is right next to a \N no longer selects the \N along with the word
    %p Make default subtitle styles customizable: when creating a new file or importing from a format without style information, the styles from a catalog of your choice are automatically imported into the script (#{ticket 962})
    %p Add a button to open directly open the style editor for the current line's style (#{ticket 1746})
    %p Add Comment to the files which can be pasted over
    %p Insert \N on shift-enter in the edit box
    %p Fix incorrect cursor positions when using non-BMP unicode characters
    %p The edit box's background color is now customizable

  %dt Subtitle Formats
  %dd
    %p Fix crash when trying to open compressed tracks from Matroska
    %p Add support for opening subtitle tracks with utterly insane CodecPrivate sections

  %dt Video
  %dd
    %p Fix rounding error in the framerate calculations for CFR formats that sometimes lead to significantly wrong timestamps for long files
    %p Add support for uncompressed RGB(A) files
    %p Fix some of the issues with open-gop h264 files
    %p Fix infinite loop when opening indexless matroska files (such as files written by x264 and not remuxed)
    %p Fix some issues with interlaced h264
    %p Add support for HEVC
    %p Add option to resample the script rather than just changing the script resolution when opening a video with different resolution (#{1382})

  %dt Visual<br>Typesetting<br>Tools
  %dd
    %p Several of the tools have been somewhat restyled to make them less obstructive
    %p Hide drag handles for commented lines
    %p Don't automatically select all control handle in the vector clip tool when switching to it, as there's now box selection of handles
    %p Update all selected lines when the origin is dragged in the rotate tools

