---
nav_group: 下载
title: Aegisub 高级字幕编辑器 - 下载

dicts:
  - name:  Catalan
    lang:  ca_ES
    notes:
  - name:  Czech
    lang:  cs_CZ
    notes:
  - name:  Danish
    lang:  da_DK
    notes:
  - name:  Austrian German
    lang:  de_AT
    notes:
  - name:  Swiss German
    lang:  de_CH
    notes:
  - name:  German
    lang:  de_DE
    notes: Includes thesaurus
  - name:  Greek
    lang:  el_GR
    notes:
  - name:  British English
    lang:  en_GB
    notes:
  - name:  American English
    lang:  en_US
    notes: Thesaurus only (dictionary is bundled with Aegisub)
  - name:  Spanish
    lang:  es_ES
    notes: Includes thesaurus
  - name:  Basque
    lang:  eu
    notes:
  - name:  French
    lang:  fr_FR
    notes: Includes thesaurus
  - name:  Hungarian
    lang:  hu_HU
    notes:
  - name:  Italian
    lang:  it_IT
    notes: Includes thesaurus
  - name:  Malay
    lang:  ms_MY
    notes:
  - name:  Dutch
    lang:  nl_NL
    notes:
  - name:  Polish
    lang:  pl_PL
    notes:
  - name:  Brazilian Portuguese
    lang:  pt_BR
    notes:
  - name:  Portuguese
    lang:  pt_PT
    notes:
  - name:  Russian
    lang:  ru_RU
    notes: Includes thesaurus
  - name:  Slovak
    lang:  sk_SK
    notes:
  - name:  Slovenian
    lang:  sl_SI
    notes:
  - name:  Serbian (Cyrillic and Latin)
    lang:  sr
    notes:
  - name:  Swedish
    lang:  sv_SE
    notes:
  - name:  Swahili (Tanzania)
    lang:  sw_TZ
    notes:
  - name:  Thai
    lang:  th_TH
    notes:
  - name:  Vietnamese
    lang:  vi_VN
    notes:

build_types:
  windows:
    - name:   完整安装版 (32位)
      suffix: 32
    - name:   便携版 (32位)
      suffix: portable-32
    - name:   完整安装版 (64位)
      suffix: 64
    - name:   便携版 (64位)
      suffix: portable-64

versions:
  modern:
    - 3.2.1
    - 3.2.0
    - 3.1.3
    - 3.1.2
    - 3.1.1
    - 3.1.0
    - 3.0.4
    - 3.0.3
    - 3.0.2
    - 3.0.1
    - 3.0.0
  windows:
    - version: 2.1.9
      builds:
        - name:   完整安装版 (32-bit)
          suffix: setup
        - name:   Portable (32-bit)
          suffix: portable
        - name:   完整安装版 (64-bit)
          suffix: 64bit
    - version: 2.1.8
      builds:
        - name:   完整安装版
          suffix: setup
        - name:   Portable
          suffix: portable
    - version: 2.1.7
      builds:
        - name:   完整安装版
          suffix: setup
        - name:   Portable
          suffix: portable
    - version: 2.1.6
      builds:
        - name:   完整安装版
          suffix: r2494-setup
    - version: 2.1.3
      builds:
        - name:   完整安装版
          suffix: r2429a-setup
    - version: 2.1.2
      builds:
        - name:   完整安装版
          suffix: r1987-setup
    - version: 2.1.0
      builds:
        - name:   完整安装版
          suffix: r1847-setup
  osx:
    - version: 2.1.9
      builds:
        - name:   完整版 (Intel)
          suffix: -intel
    - version: 2.1.8
      builds:
        - name:   完整版 (Intel)
          suffix: -intel
        - name:   完整版 (PPC)
          suffix: -ppc
        - name:   完整版 (Universal)
          suffix:
  source:
    - 2.1.9
    - 2.1.8
---

.fluid-row
  .span2{style: "padding-top: 20px; position: fixed"}
    %ul.nav.nav-list.well
      %li
        %a{href: '#current'} 当前版本
      %li
        %a{href: '#dictionaries'} 字典
      %li
        %a{href: '#prerelease'} 开发版
      %li.divider
      %li.nav-header 旧版本
      %li
        %a{href: '#windows'} Windows
      %li
        %a{href: '#osx'} OS X
      %li
        %a{href: '#source'} 源码
  .span10.offset2
    %h1.page-header#current 下载

    %p 最新的版本是 <strong>#{data.version.current}</strong>，发布于 #{data.version.release_date}
    %p 阅读 <a href="../changelog/#{data.version.current}/">更新日志</a> 了解更新内容。

    - dl_root = 'http://ftp.aegisub.org/pub/archives/releases/'
    %table.table.table-bordered.table-condensed
      %tr
        %th 平台
        %th 安装类型
        %th 校验
        %th 大小

      %tr
        %td Windows 32位
        %td <a href="#{dl_root}windows/Aegisub-#{data.version.current}-32.exe">完整版</a>
        %td <a href="#{dl_root}windows/Aegisub-#{data.version.current}-32.exe.md5">MD5</a> | <a href="#{dl_root}windows/Aegisub-#{data.version.current}-32.exe.sha">SHA</a>
        %td 19MB

      %tr
        %td Windows 32位
        %td <a href="#{dl_root}windows/Aegisub-#{data.version.current}-portable-32.exe">便携版</a>
        %td <a href="#{dl_root}windows/Aegisub-#{data.version.current}-portable-32.exe.md5">MD5</a> | <a href="#{dl_root}windows/Aegisub-#{data.version.current}-portable-32.exe.sha">SHA</a>
        %td 14MB

      %tr
        %td Windows 64位
        %td <a href="#{dl_root}windows/Aegisub-#{data.version.current}-64.exe">完整版</a>
        %td <a href="#{dl_root}windows/Aegisub-#{data.version.current}-64.exe.md5">MD5</a> | <a href="#{dl_root}windows/Aegisub-#{data.version.current}-64.exe.sha">SHA</a>
        %td 20MB

      %tr
        %td Windows 64位
        %td <a href="#{dl_root}windows/Aegisub-#{data.version.current}-portable-64.exe">便携版</a>
        %td <a href="#{dl_root}windows/Aegisub-#{data.version.current}-portable-64.exe.md5">MD5</a> | <a href="#{dl_root}windows/Aegisub-#{data.version.current}-portable-64.exe.sha">SHA</a>
        %td 15MB

      %tr
        %td OS X 10.7+
        %td <a href="#{dl_root}osx/Aegisub-#{data.version.current}.dmg">完整版</a>
        %td <a href="#{dl_root}osx/Aegisub-#{data.version.current}.dmg.md5">MD5</a> | <a href="#{dl_root}osx/Aegisub-#{data.version.current}.dmg.sha">SHA</a>
        %td 22MB

      %tr
        %td All
        %td <a href="#{dl_root}source/aegisub-#{data.version.current}.tar.xz">Source</a>
        %td <a href="#{dl_root}source/aegisub-#{data.version.current}.tar.xz.md5">MD5</a> | <a href="#{dl_root}source/aegisub-#{data.version.current}.tar.xz.sha">SHA</a>
        %td 5MB

    %p <strong>注意:</strong> 不推荐使用64位版本，即使您使用的是64位Windows。64位版本不支持Avisynth，通常也比32位要慢，并且可能存在32位版本没有的Bug。
    %p <strong>注意:</strong> 最终支持 OS X 10.6 的Aegisub版本为 3.0.4，您可以在下面找到它。

    %h2#dictionaries 字典

    %p 为了减小安装包大小，Windows完整版仅包含了用于拼写检查的US English字典，所有其它字典必须单独下载：
    %table.table.table-bordered.table-condensed
      %tr
        %th 语言
        %th 校验
        %th 备注

      - current_page.data.dicts.each do |dict|
        %tr
          %td <a href="http://ftp.aegisub.org/pub/releases/dictionaries/Aegisub-3.0-dict-#{dict.lang}.exe">#{dict.name}</a>
          %td <a href="http://ftp.aegisub.org/pub/releases/dictionaries/Aegisub-3.0-dict-#{dict.lang}.exe.md5">MD5</a> | <a href="http://ftp.aegisub.org/pub/releases/dictionaries/Aegisub-3.0-dict-#{dict.lang}.exe.sha">SHA</a>
          %td #{dict.notes}

    %h2#prerelease 即将推出的版本
    %p See <a href="http://plorkyeran.com/aegisub/">http://plorkyeran.com/aegisub/</a> for development builds of future versions of Aegisub.

    %h2 旧版本
    %h3#windows Windows

    %table.table.table-bordered.table-condensed
      %tr
        %th 版本
        %th 安装类型
        %th 校验

      - current_page.data.versions.modern.each do |v|
        - current_page.data.build_types.windows.each do |b|
          = partial :version_row, locals: { version: v, name: b.name, filename: "windows/Aegisub-#{v}-#{b.suffix}.exe"}
      - current_page.data.versions.windows.each do |v|
        - v.builds.each do |b|
          = partial :version_row, locals: { version: v.version, name: b.name, filename: "windows/Aegisub-#{v.version}-#{b.suffix}.exe"}

    %h3#osx OS X

    %table.table.table-bordered.table-condensed
      %tr
        %th 版本
        %th 安装类型
        %th 校验

      - current_page.data.versions.modern.each do |v|
        = partial :version_row, locals: { version: v, name: "完整版", filename: "osx/Aegisub-#{v}.dmg"}
      - current_page.data.versions.osx.each do |v|
        - v.builds.each do |b|
          = partial :version_row, locals: { version: v.version, name: b.name, filename: "osx/Aegisub-#{v.version}#{b.suffix}.dmg"}

    %h3#source 源代码

    %table.table.table-bordered.table-condensed
      %tr
        %th Version
        %th Checksum
      - current_page.data.versions.modern.each do |v|
        - url = "http://ftp.aegisub.org/pub/archives/releases/source/aegisub-#{v}.tar.xz"
        %tr
          %td <a href="#{url}">#{v}</a>
          %td <a href="#{url}.md5">MD5</a> | <a href="#{url}.sha">SHA</a>
      - current_page.data.versions.source.each do |v|
        - url = "http://ftp.aegisub.org/pub/archives/releases/source/aegisub-#{v}.tar.gz"
        %tr
          %td <a href="#{url}">#{v}</a>
          %td <a href="#{url}.md5">MD5</a> | <a href="#{url}.sha">SHA</a>
