---
nav_group: Home
---

.hero-unit{style: 'margin-top: -60px'}
  .row-fluid
    .span10.offset1
      %h1{style: 'text-align: center'}
        = image_tag 'logo-large.png'
      %p Welcome to our <em>temporary</em> website where you will find a simple list of possible destinations and downloads for the latest version of <strong>Aegisub</strong>.
      %p Aegisub is a free, cross-platform open source tool for creating and modifying subtitles. Aegisub features a built-in real-time video preview of the subtitles, along with many powerful tools for timing them to audio and manipulating their appearance.

.row-fluid
  .span8.offset2
    %h2#downloads Downloads
    %p The latest version is <strong>#{data.version.current}</strong>, released #{data.version.release_date}
    %p See the <a href="changelog/#{data.version.current}/">changelog</a> for a list of changes.

    %table.table.table-bordered.table-condensed
      %tr
        %th Platform
        %th Install Type
        %th Checksum
        %th Size

      %tr
        %td Windows
        %td <a href="http://ftp.aegisub.org/pub/releases/Aegisub-#{data.version.current}-32.exe">Full Install</a>
        %td <a href="http://ftp.aegisub.org/pub/releases/Aegisub-#{data.version.current}-32.exe.md5">MD5</a> | <a href="http://ftp.aegisub.org/pub/releases/Aegisub-3.0.0-32.exe.sha">SHA</a>
        %td 21MB

      %tr
        %td Windows
        %td <a href="http://ftp.aegisub.org/pub/releases/Aegisub-#{data.version.current}-portable-32.exe">Portable Version</a>
        %td <a href="http://ftp.aegisub.org/pub/releases/Aegisub-#{data.version.current}-portable-32.exe.md5">MD5</a> | <a href="http://ftp.aegisub.org/pub/releases/Aegisub-3.0.0-portable-32.exe.sha">SHA</a>
        %td 10MB

      %tr
        %td Windows
        %td <a href="http://ftp.aegisub.org/pub/releases/dictionaries/">Dictionaries</a>
        <td colspan="2">Not included in "full" installer

      %tr
        %td OS X 10.6+
        %td <a href="http://ftp.aegisub.org/pub/releases/Aegisub-#{data.version.current}.dmg">Full Install</a>
        %td <a href="http://ftp.aegisub.org/pub/releases/Aegisub-#{data.version.current}.dmg.md5">MD5</a> | <a href="http://ftp2.aegisub.org/pub/releases/Aegisub-3.0.0.dmg.sha">SHA</a>
        %td 31MB

      %tr
        %td All
        %td <a href="http://ftp.aegisub.org/pub/releases/aegisub-#{data.version.current}.tar.xz">Source</a>
        %td <a href="http://ftp.aegisub.org/pub/releases/aegisub-#{data.version.current}.tar.xz.md5">MD5</a> | <a href="http://ftp.aegisub.org/pub/releases/aegisub-3.0.0.tar.xz.sha">SHA</a>
        %td 4MB

    %p <strong>Note:</strong> An experimental x64 version for Windows is available on <a href="http://ftp.aegisub.org/pub/releases/">the FTP site</a>. It is not listed here as it is generally slower than the 32-bit version and is missing a few features.
    %p <strong>Note:</strong> Unlike previous versions, #{data.version.current} is fairly stable and mostly functional on OS X. However, there are still some broken things and it is still the least-tested platform.
    %p <strong>Note:</strong> We currently do not have prebuilt binaries for any Linux systems. Many distributions now have packages for Aegisub; if yours does not consider requesting or creating one.

    %h2 Previous Releases
    %p You can find an archive of our releases at <a href="http://ftp.aegisub.org/pub/archives/releases/">HTTP</a> or <a href="ftp://ftp.aegisub.org/pub/archives/releases/">FTP</a>

    %h2 Screenshots
    .row-fluid.screenshots
      - data.screenshots.platforms.each do |p|
        .span4
          %h3= p.name
          - data.screenshots.files.each do |f|
            = link_to "/static/img/screenshots/#{p.path}/#{f}.png" do
              = image_tag "screenshots/#{p.path}/#{f}-thumb.png", alt: '', class: 'img-polaroid'

    %h2 Update Checker Disclosure
    %p Please read <a href="/disclosure.html">Full disclosure: Statistics collected by the update checker</a> for information on our update checker.

