---
nav_group: Home
---

.row-fluid
  .span10.offset1
    .hero-unit{style: 'margin-top: -60px'}
      %h1{style: 'text-align: center'}
        = image_tag 'logo-large.png'
      %p Aegisub is a free, cross-platform open source tool for creating and modifying subtitles. Aegisub makes it quick and easy to time subtitles to audio, and features many powerful tools for styling them, including a built-in real-time video preview.

.row-fluid
  .span8.offset2
    %h2#downloads Downloads
    %p The latest stable version is <strong>#{data.version.current}</strong>, released #{data.version.release_date}
    %p See the <a href="changelog/#{data.version.current}/">changelog</a> for a list of changes.

    %table.table.table-bordered.table-condensed
      %tr
        %th Platform
        %th Install Type
        %th Checksum
        %th Size

      - dl_root = 'http://ftp.aegisub.org/pub/archives/releases/'
      %tr
        %td Windows
        %td <a href="#{dl_root}windows/Aegisub-#{data.version.current}-32.exe">Full Install</a>
        %td <a href="#{dl_root}windows/Aegisub-#{data.version.current}-32.exe.md5">MD5</a> | <a href="#{dl_root}windows/Aegisub-#{data.version.current}-32.exe.sha">SHA</a>
        %td 29MB

      %tr
        %td Windows
        %td <a href="#{dl_root}windows/Aegisub-#{data.version.current}-portable-32.exe">Portable Version</a>
        %td <a href="#{dl_root}windows/Aegisub-#{data.version.current}-portable-32.exe.md5">MD5</a> | <a href="#{dl_root}windows/Aegisub-#{data.version.current}-portable-32.exe.sha">SHA</a>
        %td 15MB

      %tr
        %td OS X 10.7+
        %td <a href="#{dl_root}osx/Aegisub-#{data.version.current}.dmg">Full Install</a>
        %td <a href="#{dl_root}osx/Aegisub-#{data.version.current}.dmg.md5">MD5</a> | <a href="#{dl_root}osx/Aegisub-#{data.version.current}.dmg.sha">SHA</a>
        %td 36MB

      %tr
        %td All
        %td <a href="#{dl_root}source/aegisub-#{data.version.current}.tar.xz">Source</a>
        %td <a href="#{dl_root}source/aegisub-#{data.version.current}.tar.xz.md5">MD5</a> | <a href="#{dl_root}source/aegisub-#{data.version.current}.tar.xz.sha">SHA</a>
        %td 4MB

    %p <strong>Note:</strong> Spellchecker dictionaries, x64 builds for Windows, and other versions can be found on the #{link_to 'downloads page', 'downloads/'}.

    %h2 Screenshots
    .row-fluid.screenshots
      - data.screenshots.platforms.each do |p|
        .span4
          %h3= p.name
          - data.screenshots.files.each do |f|
            = link_to "/static/img/screenshots/#{p.path}/#{f}.png" do
              = image_tag "screenshots/#{p.path}/#{f}-thumb.png", alt: '', class: 'img-polaroid'

    %h2 Update Checker Disclosure
    %p Please read <a href="/disclosure.html">Full disclosure: Statistics collected by the update checker</a> for information on our update checker.

