.navbox
  %div= wiki_link 'Automation', 'Automation'
  %table
    %tr
      %th Overview:
      %td #{wiki_link 'Automation/Manager', 'Automation Manager'} • #{wiki_link 'Automation/Running_macros', 'Running macros'} • #{wiki_link 'Exporting', 'Using export filters'} • #{wiki_link 'Automation/Included_macros', 'Standard macros'} • #{wiki_link 'Automation/Overview_of_changes_from_Automation_3', 'Changes from Automation 3'}
    %tr
      %th #{wiki_link 'Automation/Karaoke_Templater', 'Karaoke Templater'} reference:
      %td #{wiki_link 'Automation/Karaoke_Templater/Declaring_template_and_code_lines', 'Declaring templates'} • #{wiki_link 'Automation/Karaoke_Templater/Template_execution_rules_and_order', 'Execution order'} • #{wiki_link 'Automation/Karaoke_Templater/Template_modifiers', 'Modifiers'} • #{wiki_link 'Automation/Karaoke_Templater/Inline_variables', 'Inline-variables ($-variables)'} <br> #{wiki_link 'Automation/Karaoke_Templater/Code_lines_and_blocks', 'Code lines and blocks'} • #{wiki_link 'Automation/Karaoke_Templater/Code_execution_environment', 'Execution envirionment'}
    %tr
      %th #{wiki_link 'Automation/Lua', 'Lua API'}  reference:
      %td #{wiki_link 'Automation/Lua/Registration', 'Registration'} • #{wiki_link 'Automation/Lua/Subtitle_file_interface', 'Subtitles object'} • #{wiki_link 'Automation/Lua/Progress_reporting', 'Progress reporting'} • #{wiki_link 'Automation/Lua/Dialogs', 'Dialogs'} • #{wiki_link 'Automation/Lua/Miscellaneous_APIs', 'Misc. APIs'}
    %tr
      %th #{wiki_link 'Automation/Lua/Modules', 'Lua Modules'}:
      %td #{wiki_link 'Automation/Lua/Modules/karaskel.lua', 'karaskel.lua'} • #{wiki_link 'Automation/Lua/Modules/utils.lua', 'utils.lua'} • #{wiki_link 'Automation/Lua/Modules/unicode.lua', 'unicode.lua'} • #{wiki_link 'Automation/Lua/Modules/cleantags.lua', 'cleantags.lua'} • #{wiki_link 'Automation/Lua/Modules/clipboard', 'clipboard'} • #{wiki_link 'Automation/Lua/Modules/re', 're'}
    %tr
      %th Karaskel concepts:
      %td #{wiki_link 'Automation/Lua/Modules/karaskel.lua/#Style_table', 'Style tables'} • #{wiki_link 'Automation/Lua/Modules/karaskel.lua/#Dialogue_line_table', 'Dialogue line tables'} • #{wiki_link 'Automation/Lua/Modules/karaskel.lua/#Karaoke_and_furigana_syllable_tables', 'Syllable tables'} • #{wiki_link 'Karaoke_inline-fx', 'Inline effects'} • #{wiki_link 'Furigana_karaoke', 'Furigana'}
