.navbox
  %div= wiki_link 'Automation', '自动化'
  %table
    %tr
      %th 概述:
      %td #{wiki_link 'Automation/Manager', '自动化脚本管理器'} • #{wiki_link 'Automation/Running_macros', '运行宏'} • #{wiki_link 'Exporting', '使用导出滤镜'} • #{wiki_link 'Automation/Included_macros', '示例宏'}
    %tr
      %th #{wiki_link 'Automation/Karaoke_Templater', '卡拉OK Templater'} 相关:
      %td #{wiki_link 'Automation/Karaoke_Templater/Declaring_template_and_code_lines', '声明模版'} • #{wiki_link 'Automation/Karaoke_Templater/Template_execution_rules_and_order', '模版执行顺序'} • #{wiki_link 'Automation/Karaoke_Templater/Template_modifiers', '修饰语'} • #{wiki_link 'Automation/Karaoke_Templater/Inline_variables', '内联变量($变量)'} <br> #{wiki_link 'Automation/Karaoke_Templater/Code_lines_and_blocks', 'code行和code区'} • #{wiki_link 'Automation/Karaoke_Templater/Code_execution_environment', '代码执行环境'}
    %tr
      %th #{wiki_link 'Automation/Lua', 'Lua API'} 相关:
      %td #{wiki_link 'Automation/Lua/Registration', '注册'} • #{wiki_link 'Automation/Lua/Subtitle_file_interface', '字幕object'} • #{wiki_link 'Automation/Lua/Progress_reporting', '进度反馈'} • #{wiki_link 'Automation/Lua/Dialogs', '对话框'} • #{wiki_link 'Automation/Lua/Miscellaneous_APIs', '其他APIs'}
    %tr
      %th #{wiki_link 'Automation/Lua/Modules', 'Lua 模块'}:
      %td #{wiki_link 'Automation/Lua/Modules/karaskel.lua', 'karaskel.lua'} • #{wiki_link 'Automation/Lua/Modules/util', 'util'} • #{wiki_link 'Automation/Lua/Modules/unicode', 'unicode'} • #{wiki_link 'Automation/Lua/Modules/cleantags.lua', 'cleantags.lua'} • #{wiki_link 'Automation/Lua/Modules/clipboard', 'clipboard'} • #{wiki_link 'Automation/Lua/Modules/re', 're'}
    %tr
      %th Karaskel 概念:
      %td #{wiki_link 'Automation/Lua/Modules/karaskel.lua/#Style_table', 'Style tables'} • #{wiki_link 'Automation/Lua/Modules/karaskel.lua/#Dialogue_line_table', 'Dialogue line tables'} • #{wiki_link 'Automation/Lua/Modules/karaskel.lua/#Karaoke_and_furigana_syllable_tables', 'Syllable tables'} • #{wiki_link 'Karaoke_inline-fx', 'Inline effects'} • #{wiki_link 'Furigana_karaoke', 'Furigana'}
